@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: Poppins;
}

body {
    padding-top: 70px;
}