.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 223px;
    height: 149px;
    left: 341px;
    top: 420px;

    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.pic-frame {
    position: static;
    width: 221px;
    height: 38px;
    left: calc(50% - 221px/2);
    top: 4.5px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.pic {
    border-radius: 50%;    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 100px/2 - 0.5px);
    top: -65px;

    background: url(../../../static/favicon.ico);
}

.disc {
    position: static;
    width: 223px;
    height: 61px;
    left: 0px;
    top: 83.5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: #3C3C3C;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

.name {
    position: static;
    width: 223px;
    height: 41px;
    left: 0px;
    top: 42.5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #2F80ED;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}