.posts {
    list-style-type: none;
    padding: 0;
}

.post {
    margin: 1rem 1rem;
    display: inline-flex;
    h2 {
        margin-bottom: 0;
    }
}

.pic {
    width: 18rem;
    height: 12rem;
}

h2 {
    margin-left: 1.5%;
}