.posts {
  list-style-type: none;
  padding: 0;
}

.post {
  margin: 1rem 1rem;
  display: inline-flex;
  h2 {
    margin-bottom: 0;
  }
}

.pic {
  width: 18rem;
  height: 12rem;
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 30px 185px;
}

.card-container {
  margin: 30px 170px;
}

@media (max-width: 768px) {
  .title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin: 30px 35px;
  }
}
