.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .ash {
        background-color: blue;
        color: white;
        height: 400px;
        width: auto;
    }

    .map {
        height: 416px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}