.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .ash {
    background-color: rgb(56, 53, 53);
    color: white;
    height: 400px;
    width: auto;
    text-align: center;
    font-size: 3rem;
    padding: 50px;
    ul {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      line-height: 4rem;
      li {
        text-decoration: none;
      }
    }
  }

  .dev {
    .svg {
      width: 20vw;
      height: 30vh;
      position: relative;
      top: 20%;
      left: 20%;
    }
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .ash {
      height: auto;
      text-align: center;
    }

    .dev {
      .svg {
        width: 50vw;
        height: 60vh;
        top: 10%;
      }
    }
  }
}
