.col {
    padding: 10px;
    background-color: #007bff;
    color: white;

    h1 {
        padding-left: 0.3em;
        margin-top: 80px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}