.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
}

.title {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 18px;
}

.nav-item {
  color: #999999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(202, 196, 196);
}

.active-nav-item {
  color: #fff;
}